.body {
  background-color: #252839;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
.allweb {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.cont{
  display: flex;
  transform-style:preserve-3d;
  gap:8px;
  transform:rotateY(25deg) rotateX(10deg);
  
}
.cont .text{
  position: relative;
  width:55px;
  height: 55px;
  transform-style:preserve-3d;
  transition:2.5s ease-in-out;
  
}
.cont:hover .text{
  transform:rotateX(450deg);
}
.cont:hover .text:last-child{
  transform:rotateX(-630deg);
}
.cont:hover .text:first-child{
  transform:rotateX(-630deg);
}
.cont .text::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:#373737;
  transform-origin: left;
  transform:rotateY(90deg) translateX(-27.5px)

}
.cont .text:last-child:before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:#29c040;
  transform-origin: left;
  transform:rotateY(90deg) translateX(-27.5px)

}
.cont .text:first-child:before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:#03a9fa;
  transform-origin: left;
  transform:rotateY(90deg) translateX(-27.5px)

}
.cont .text span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(#434343,#535353);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:3em;
  color:#fff;


  transform-style: preserve-3d;
  transform: rotateX(calc(90deg * var(--i))) translateZ(27.5px)
}
.cont .text:last-child span
{
  background:linear-gradient(#29c040 ,#32ed4e)
  
}
.cont .text:first-child span
{
  background:linear-gradient(#0c6c9c ,#03a9fa)
  
  
}
.title {
  font-family: 'Licorice', cursive;
  color: #2b2d3b;
  -webkit-texe-stroke: 0.3vw #383d52;
  position: relative;
}

.title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #03a9fa;
  border-right: 2px solid #03a9fa;
  -webkit-texe-stroke: vw #383d52;
  overflow: hidden;
  animation: animate 6s linear infinite;
  
}

.name {
  font-family: 'Licorice', cursive;
  color: #252839;
  -webkit-texe-stroke: 0.3vw #252839;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 30px;
}
.name::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #32ed4e;
  -webkit-texe-stroke: 0vw #383d52;
  overflow: hidden;
  animation: animate 5s linear infinite;
  text-shadow: 5px 4px 1px #393d4d;
}

.desc {
  font-family: 'Licorice', cursive;
  color: #03a9fa;
  position: relative;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.profileImg {
  width: 200px;
  border-radius:5px;

}

a:link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: 'Pushster', cursive;
}

.content {
  font-size: 24px;
  font-family: 'Licorice', cursive;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-links {
  padding: 20px;
}

svg {
  color: #03a9fa;
}

.project-img {
  border: solid green 5px;
  width: 300px;
}

.contact {
  color: #03a9fa;
}

.main {
  margin: 20px;
}
